/******************************************
  Some tips for creating layouts :
  - Add `l` prefix before the name of layouts
  - Or Just copy paste this structure of styling code into your new layouts styling file
  - Dont forget to register your layouts into `_layouts.scss`
******************************************/
/** This Place For Layouts Calculator **/
.#{$namespace} {
  & .l-calculator {
    position: relative;
    padding-top: 56px;

    & .calculator {
      &__content {
        position: relative;
        padding: 0 16px;

        & .content {
          &-wrapper {
            position: relative;

            & .c-card-calculator {
              margin-top: 24px;
              margin-bottom: 24px;
            }
          }

          &-notes {
            font-size: 12px;
            color: $color-text-grey;
            margin-bottom: 32px;

            & .v-icon {
              color: $color-secondary;
            }
          }

          &__counter {
            position: relative;
            text-align: right;
            font-size: 13px;

            & .counter {
              &-total-loan {
                position: relative;
                border-bottom: 1px solid #EEE;
                padding-bottom: 4px;
                margin-bottom: 4px;

                & .price {
                  color: $color-primary;
                  font-weight: bold;
                }
              }

              &-per-month {
                position: relative;
                font-weight: bold;

                & .price {
                  color: $color-secondary;
                }
              }
            }
          }

          &-form {
            position: relative;

            & .content-form {
              &__wrapper {
                position: relative;
                margin-top: 32px;
              }

              &__item {
                position: relative;

                &.or {
                  padding: 16px;
                  text-align: center;
                }
              }
            }
          }
        }
      }

      &__toolbar {
        & .v-toolbar {
          &__title {
            //
          }
        }
      }
    }

    & .property-list {
      position: relative;
      width: 100%;
      margin: 0;
      padding: 0;
      margin-bottom: 24px;

      & li {
        margin-bottom: 24px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &__card {
        position: relative;
        padding: 16px;
        padding-bottom: 0;

        & .card {
          &-action {
            position: relative;
            padding: 16px 0;
          }
        }
      }
    }

    & .action {
      &__add-property {
        position: relative;
        height: 36px;

        &::after {
          position: absolute;
          width: 100%;
          height: 1px;
          background: #EEE;
          content: '';
          top: 50%;
        }
      }
    }

    & .wrapper-button {
      position: relative;
      width: 100%;
      height: 36px;

      & .button {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        z-index: 1;
        background: white;
        border-color: $color-primary;
        color: $color-primary;
      }
    }
  }
}

/* ************************************ */
