/******************************************
  Some tips for creating layouts :
  - Add `l` prefix before the name of layouts
  - Or Just copy paste this structure of styling code into your new layouts styling file
  - Dont forget to register your layouts into `_layouts.scss`
******************************************/
/** This Place For Layouts Dashboard **/
.#{$namespace} {
  & .l-dashboard {
    padding-bottom: 80px;

    & .dashboard {
      &-header {
        position: relative;
        padding: 32px 16px;
        background: $color-secondary;
      }

      &-content {
        position: relative;
        padding: 0 16px;

        & .content {
          &-section {
            position: relative;

            &__header {
              position: relative;
              padding: 24px 0;

              & .header {
                &-content {
                  position: relative;

                  &__title {
                    font-size: 12px;
                  }

                  &__action {
                    font-size: 12px;

                    & .v-btn {
                      font-size: 12px;
                      text-transform: none;
                      font-weight: normal;
                    }

                    & .action {
                      &-center {
                        position: relative;
                        left: 0;
                        right: 0;
                        margin: auto;
                        width: 100%;
                      }
                    }
                  }
                }
              }
            }

            &__main {
              position: relative;

              &.saved-collections {
                position: relative;
                left: -16px;
                width: 100vw;
              }

              & .action {
                &-calculator {
                  color: black;
                }
              }
            }

            &.show-trend {
              padding-bottom: 0;

              & .header {
                &-content {
                  & .flex {
                    padding-right: 8px;

                    &:last-child {
                      padding-right: 0;
                    }
                  }

                  &__action {
                    font-size: 12px;
                    padding-top: 8px;
                    border-top: 1px solid #FFE4C5;
                    margin-top: 16px;

                    &.active {
                      border-top: none;
                    }

                    & .action {
                      &-center {
                        color: $color-primary;
                      }
                    }
                  }

                  &__content-toggle {
                    margin-bottom: 8px;
                  }
                }
              }

              & .action {
                &-trend {
                  font-size: 12px;
                }
              }

              & .big-text {
                font-size: 16px;

                &.text {
                  &-primary {
                    color: $color-primary;
                  }

                  &-secondary {
                    color: $color-secondary;
                  }
                }
              }
            }

            &.my-listing {
              & .list-button {
                margin-top: 16px;

                & .flex {
                  padding-right: 8px;

                  &:last-child {
                    padding-right: 0;
                  }
                }

                & .action {
                  &-btn {
                    width: 100%;
                    padding: 8px;
                    height: auto;
                    text-align: center;
                    font-weight: normal;

                    &.active {
                      background-color: $color-primary !important;
                      color: white;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/* ************************************ */
